# Railway Runtime
PORT=3000
TZ=Asia/Jakarta
SCHEDULER_ENABLED=true

# Firebase Admin SDK
FIREBASE_PROJECT_ID=telurku-fa78c
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@telurku-fa78c.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nREPLACE_ME\\n-----END PRIVATE KEY-----\\n"
FIREBASE_DATABASE_URL=https://telurku-fa78c-default-rtdb.asia-southeast1.firebasedatabase.app
